<div>
  <h1><%= @cocktail.name %></h1>
</div>

<div>
  <% @cocktail.doses.each do |dose| %>
    <p><%= dose.ingredient.name %></p>
    <p><%= dose.description %></p>
  <% end %>

  <%= link_to "Add new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary btn-sm m-2" %>
</div>

<div>
  <% @cocktail.reviews.each do |review| %>
    <p><%= review.rating %></p>
    <p><%= review.content %></p>
  <% end %>

  <%= link_to "Add new review", new_cocktail_review_path(@cocktail), class: "btn btn-primary btn-sm m-2" %>
</div>

<div>
  <%= link_to "See all cocktails", :root, class: "btn btn-primary btn-sm m-2" %>
</div>
